@import "tailwindcss";

:root {
  --bg: #fff1f6;
  --pink: #ff6f9f;
  --deep-pink: #d6336c;
  --cream: #fff8ee;
  --black: #141014;
  --soft-black: #241b22;
  --gold: #f7c873;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: var(--bg);
  color: var(--black);
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

::selection {
  background: var(--pink);
  color: white;
}